

/* le fond d'ecran */

body{
    background: #ededed;
}
p{
    font-size: 1em;
    line-height: 1.5em;
}
a{
    text-decoration: none;
    color: #000;
}

/*HEADER & FOOTER */
header, footer{
    width: 100%;
    padding: 20px 0px;
    background: url("aziz.jpeg") #c57777;
    box-shadow: 0px 0px 15px #333;
}
/*SECTIONS*/
section{
    display: flex; 
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    padding-bottom: 20px;
    margin: 20px auto;
    background-color: #fff;
    display: flex;
    }
    

/*pour le metre en ordre*/

    section h2
{
    margin: 20px 0;
    width: 90%;
}
section > div{
    width: 90%;
}


/*SECTION INFOS*/
.photo{
    text-align: center;
}

.photo img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}


.social{
    display: flex;
    justify-content: space-around;
    margin: 10px auto 0px auto;
}
.social img{
    width: 40px;
    height: 40px;
}